  
$color-fondo: #141414;
$color-dafault: white;
$tamanio-letra-titulo: 2em;
$espacio-interior: 15px;
$espacio-interior-grande: 35px;
$espacio-exterior: 15px;
$espacio-exterior-grande: 40px;
$tamanio-letra: 1.3em;
$tamanio-letra-buttons: 0.9em;
$color-buttons: #018ABD;
$padding: 20px;