  
$color-fondo: #141414;
$color-alternativo: white;
$espacio-interior: 15px;
$espacio-interior-grande: 35px;
$espacio-exterior: 20px;
$espacio-exterior-grande: 40px;
$tamanio-letra: 1em;
$tamanio-letra-grande: 2.5em;
$tamanio-letra-reducido: 0.8em;
$color-buttons: #018ABD;